h1 {
    text-align: center;
    border-width: 10px;
    border-style: solid;
    border-color: aqua;
}

.page {
    width: 100%;
    height: 90%;
    overflow: hidden;
    clear: both;
}

.clickable {
    cursor: pointer;
}
.list {
    float: left;
    width: 23%;
    clear: both;
    display: inline-block;
    padding-left: 35px;
    min-width: 250px;
}

.view {
    position: absolute;
    top: 15%;
    right: 30%;
    min-width: 250px;
    width: 20vw;
    clear: both;
    text-align: left;
    border: 10px black solid;
}


.inputs {
    border-bottom: solid;
    border-bottom-color: aqua;
    background-color: transparent;
    outline-style: none;
    box-shadow: none;
    width: 150px;
}

.inputs:hover {
    border-bottom-color: chartreuse;
    border-radius: 25%;
}

*:focus {
    outline: none;
}

.delete:hover {
    background-color: red;
    border-radius: 25%;
}

.test {
    text-transform: capitalize;
}

.space {
    margin-bottom: 35px;
    border-radius: 50%;
    background-color: antiquewhite;
}

@keyframes animateleave {
    from {top: 12%; left: 5%;}
    to {top: 12%; left: 105%;}
}

@keyframes animateenter {
    from {top: 12%; left: -105%;}
    to {top: 12%; left: 5%;}
}

.animation.ng-enter {
    position: absolute;
    width: 70%;
    animation: animateenter 2s linear;
}

.animation.ng-leave {
    position: absolute;
    width: 70%;
    animation: animateleave 2s linear;
}

.menu {
    padding-right: 3%;
    font-family: Chalkboard;
    font-size: large;
    margin-left: 1%;
}

.para {
    margin-left: 3%;
}