<div class="list">

    <div ng-repeat = "obj in vm.list">
        <p class="test" ng-click = "vm.selectList(obj)" class="clickable">{{obj.name}}</p>
        <button class="delete test space" ng-click = "vm.delete(obj)"> Delete {{obj.name}} </button>
    </div>


    <div>
        <input class="inputs" class="form-control" ng-model="vm.listInput" size="25" placeholder="Add New"/>
        <span class="help-block" ng-show="vm.validatetask">
           Task Name is required.
        </span>
        <button ng-click="vm.startAdd(vm.listInput)" value="Add New">Add New</button>
    </div>
</div>

<div class = "detail-div">
    <component-detail selected-obj="vm.selectedObj" on-close="vm.closeDetail()"></component-detail>
</div>


