<div ng-show="vm.selectedObj">
    <div>
            <p>{{vm.selectedObj.name}}</p>
        <div>
            <input class="inputs" type="text" ng-model="vm.shoppingInput" size="50" placeholder="Add New">
            <input type="submit" ng-click="vm.shoppingAdd(vm.selectedObj, vm.shoppingInput)" value="Add New">
        </div>

        <br>

        <div ng-repeat="x in vm.selectedObj.detail">
            <input type="checkbox" ng-model="x.done">
            <span>{{x.shoppingText}}</span>
        </div>

        <p>
            <button ng-click="vm.remove()">Remove Checked</button>
        </p>

    </div>
</div>