<div ng-show="vm.selectedObj" layout="column">

    <div class="view, test">
            <p>{{vm.selectedObj.name}}</p>
        <form name="taskForm" ng-submit="vm.shoppingAdd(vm.selectedObj, vm.shoppingInput); vm.saveToStorage">
            <input name="taskInput" required class="inputs" type="text" ng-model="vm.shoppingInput" size="50" placeholder="Add New">
            <input type="submit" value="Add New" ng-disabled="taskForm.taskInput.$invalid">
        </form>

        <br>

        <div ng-repeat="x in vm.selectedObj.detail">
            <input type="checkbox" ng-model="x.done">
            <span>{{x.shoppingText}}</span>
            <button class="delete test space" ng-click="vm.remove(vm.selectedObj, x)">Remove {{x.shoppingText}}</button>
        </div>

        <div>
            <button ng-click="vm.removeSelected(vm.selectedObj)">Remove Selected</button>
        </div>

    </div>
</div>